<!-- Bottom Nav -->
<footer>
    <nav class="navbar fixed-bottom navbar-dark bg-dark text-white">
      <h6> &copy; Copyright 2021. All Rights reserved.</h6>
    </nav>
  </footer>
<!--Script Section-->
<script src="/jquery/dist/jquery.min.js"></script>
<script src="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="/Scripts/app.js"></script>
</body>
</html>