<%- include ./partials/header.ejs %>
<main>
  <head>
     <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
    <style>
    .jumbotron {
      background-color: #f4511e;
      color: #fff;
      padding: 100px 25px;
    }
    .container-fluid {
      padding: 40px 30px;
    }
    .bg-grey {
      background-color: #f6f6f6;
    }
    .logo-small {
      color: #f4511e;
      font-size: 50px;
    }
    .logo {
      color: #f4511e;
      font-size: 200px;
    }
    @media screen and (max-width: 500px) {
      .col-sm-4 {
        text-align: center;
        margin: 25px 0;
      }
    }
    </style>
  </head>
  <body>
    <section class="py-2 text-center container">
      <div class="row py-lg-5">
        <div class="col-lg-10 col-md-8 mx-auto">
          <h1 class="fw-light">Meet Our Team</h1>
          <p class="lead text-muted">Our team is the strongest asset of this organization. It is compounded by a perfect balance set of people with the right skills to make Pear Survey the best survey builder in Toronto's market. </p>
        </div>
      </div>
    </section> 
  <!-- Container (Portfolio Section) -->
  <div class="container-fluid text-center bg-grey">
    <div class="row text-center">
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="../../Content/assets/images/alexandra.jpg" alt="Alezandra" style= "height: 250px; width: 200px;">          
          <p>Database Programmer</p>
          <p><strong>Alexandra Zuniga </strong> &nbsp; <a href="https://www.linkedin.com/in/aozuniga" target="blank" class="btn btn-primary">LinkedIn</p></a>
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="../../Content/assets/images/geejay.png" alt="Geejay" style= "height: 250px; width: 200px;">
          <p>Project Manager</p>
          <p><strong>Geejay Damasco </strong> &nbsp; <a href="https://www.linkedin.com/in/geejay-damasco-955555136/" target="blank" class="btn btn-primary">LinkedIn</p></a>         
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="../../Content/assets/images/juan.png" alt="Juan" style= "height: 250px; width: 200px;">          
          <p>Lead Software Engineer</p>
          <p><strong>Juan Sebastian Galvis </strong> &nbsp; <a href="https://www.linkedin.com/in/juan-sebasti%C3%A1n-galvis-chaves-540308a0/?locale=en_US" target="blank" class="btn btn-primary">LinkedIn</p></a>                    
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="../../Content/assets/images/heylisse.jpg"class="figure-img img-fluid rounded" alt="Heylisse"style= " height: 250px; width: 200px; margin-bottom: 10px;">          
          <p>Web Designer</p>
          <p><strong>Heylisse Machado </strong> &nbsp; <a href="" target="blank" class="btn btn-primary">Put ur link here</p></a>          
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="../../Content/assets/images/camila.jpg" alt="Camila" style= "height: 250px; width: 200px;">
          <p>UI Programmer</p>
          <p><strong>Camila Nieto Moya </strong> &nbsp; <a href="https://github.com/CamilaNieto-Centennial" target="blank" class="btn btn-primary">GitHub</p></a>           
        </div>
      </div>
      <div class="col-sm-4">
        <div class="thumbnail">
          <img src="../../Content/assets/images/gustavo.jpg" alt="Gustavo" style= "height: 250px; width: 200px;">
            <p>Generalist Programmer </p>
            <p><strong>Gustavo Gomes </strong> &nbsp; <a href="https://www.linkedin.com/in/gustavofurquim" target="blank" class="btn btn-primary">LinkedIn</p></a>                
        </div>
      </div>
    </div>
  </div>
  <br><br><br>
  </body>


 </main>
<%- include ./partials/footer.ejs %>