<%- include ./partials/header.ejs %>
 <main class="container">
   <div>
    <body>
      <h1><%= title %></h1>
      <p>Welcome to <%= title %></p>
    </body>
   </div>
 </main>
<%- include ./partials/footer.ejs %>
