  <!-- MAIN CONTENT -->
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <h1>Create Survey</h1>
          <form class="form" method="post">
            <div class="form-group">
              <label for="titleField"> Survey Title</label>
              <input type="text" class="form-control" id="titleField"
              placeholder="School Survey" name="title" required>
            </div>
            <div class="form-group">
              <label for="questionField1">Question 1:</label>
              <input type="text" class="form-control" id="questionfield1"
              placeholder="Insert Question" name="question1"  required>
            </div>
            <div class="form-group">
                <label for="answerField1">Sample Answer:</label>
                <input type="text" class="form-control" id="answerfield1"
                placeholder="Insert Response" name="response1"  required>
              </div>
              <div class="form-group">
                <label for="questionField2">Question 2:</label>
                <input type="text" class="form-control" id="questionfield2"
                placeholder="Insert Question" name="question2"  required>
              </div>
              <div class="form-group">
                <label for="answerField2">Sample Answer2:</label>
                <input type="text" class="form-control" id="answerfield3"
                placeholder="Insert Response" name="response3"  required>
              </div>
           
            <br>
            <button type="button" id="createMC" class="btn btn-info"><i class="fa fa-check-square-o"></i> Add Multiple Choice Question</button>
            <button type="button" id="createTF" class="btn btn-primary"><i class="fa fa-check-square-o"></i> Add True/False Question</button>
            <br><br>
            <button type="submit" class="btn btn-success"><i class="fa fa-check-square-o"></i> Submit</button>
            <a href="#" class="btn btn-warning"><i class="fa fa-undo"></i> Cancel</a>
          </form>
          <br>
          <br>
          <br>
      </div>
    </div>
  </div>